<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('文章列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="article-form">
					<div class="select-list">
						<ul>
							<li>
								文章标题：<input type="text" name="title"/>
							</li>
							<li>
								文章分类：<select name="category">
									<option value="">所有</option>
									<option value="course">课程文章</option>
									<option value="knowledge">知识库文章</option>
								</select>
							</li>
							<li>
								文章标签：<input type="text" name="tags"/>
							</li>
							<li>
								文章摘要：<input type="text" name="summary"/>
							</li>
							<li>
								状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="article:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
		        <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="article:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
		        <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="article:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
	        </div>
	        <div class="col-sm-12 select-table table-striped">
	            <table id="bootstrap-table"></table>
	        </div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('article:edit')}]];
        var removeFlag = [[${@permission.hasPermi('article:remove')}]];
        var statusDatas = [[${@dict.getType('sys_normal_disable')}]];
        var prefix = ctx + "article";

        $(function() {
            var options = {
                url: prefix + "/listData",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "文章",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'articleId',
                    title: '文章ID',
                    sortable: true,
                    sortName: 'article_id'
                },
                {
                    field: 'title',
                    title: '文章标题',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value);
                    }
                },
                {
                    field: 'category',
                    title: '文章分类',
                    formatter: function(value, row, index) {
                        if (value === 'course') {
                            return '<span class="badge badge-primary">课程文章</span>';
                        } else if (value === 'knowledge') {
                            return '<span class="badge badge-success">知识库文章</span>';
                        }
                        return value;
                    }
                },
                {
                    field: 'tags',
                    title: '文章标签',
                    formatter: function(value, row, index) {
                        if (!value) return '';
                        var tags = value.split(',');
                        var html = [];
                        for (var i = 0; i < tags.length; i++) {
                            html.push('<span class="badge badge-info">' + tags[i] + '</span>');
                        }
                        return html.join(' ');
                    }
                },
                {
                    field: 'summary',
                    title: '文章摘要',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 30);
                    }
                },
                {
                    field: 'viewCount',
                    title: '阅读量',
                    sortable: true,
                    sortName: 'view_count'
                },
                {
                    field: 'likeCount',
                    title: '点赞数',
                    sortable: true,
                    sortName: 'like_count'
                },
                {
                    field: 'collectCount',
                    title: '收藏数',
                    sortable: true,
                    sortName: 'collect_count'
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'sort',
                    title: '排序',
                    align: 'center'
                },
                {
                    field: 'createBy',
                    title: '创建者'
                },
                {
                    field: 'createTime',
                    title: '创建时间',
					sortable: true,
					sortName: 'create_time'
                },
                {
                    field: 'updateTime',
                    title: '更新时间',
					sortable: true,
					sortName: 'update_time'
                },
                {
                    field: 'remark',
                    title: '备注',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.tooltip(value, 10, "open");
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.articleId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="detail(\'' + row.articleId + '\')"><i class="fa fa-search"></i>详细</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.articleId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        
        /* 详情查看 */
        function detail(id) {
            var url = prefix + '/detail/' + id;
            $.modal.open("查看文章", url);
        }
    </script>
</body>
</html>
